@import 'main.scss';

::ng-deep {
  &.mat-card {
    min-width: 25rem;
  }

  &.mat-card-header {
    justify-content: center;
  }

  &.mat-form-field {
    margin-bottom: 1.5rem;
  }
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../../assets/images/auth-bg-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &__signup {
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  &__signup-button {
    width: 100%;
  }

  &__header {
    justify-content: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__login-status {
    @include formMessage($redColor);
  }
}
