<div class="meals">
  <ng-container *ngIf="meals.length !== 0">
    <mat-paginator
      #matPagePaginator
      class="meals__paginator"
      [length]="meals.length"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="getNext($event)"
    >
    </mat-paginator>
    <div class="meals__list">
      <app-meal
        class="meals__item"
        appMoveOnHover
        *ngFor="let singleMeal of currentMeals"
        [meal]="singleMeal"
        (editMeal)="openDialog($event)"
        (removeMeal)="removeMeal($event)"
        (goDetails)="goToDetails($event)"
      ></app-meal>
    </div>
  </ng-container>
</div>
