<div class="signup">
  <mat-card>
    <!-- Navigate to login page -->
    <button mat-raised-button color="primary" class="signup__login-navigation" routerLink="/login">
      Login
    </button>

    <!-- Separate section -->
    <app-form-separator></app-form-separator>

    <!-- Form header -->
    <mat-card-header>
      <mat-card-title>Signup</mat-card-title>
    </mat-card-header>

    <!-- Form Content -->
    <mat-card-content>
      <p *ngIf="signupStatus" [ngClass]="{ signup__errorStatus: isError, signup__successStatus: !isError }">
        {{ signupStatus }}
      </p>

      <app-form-spinner *ngIf="isSpinnerOn"></app-form-spinner>

      <form class="signup__form" [formGroup]="signupForm" (ngSubmit)="signup()">
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email" type="text" />
          <mat-error *ngIf="email.errors?.required && email.touched" align="start"
            >Enter you email</mat-error
          >
          <mat-error *ngIf="email.errors?.pattern && email.touched" align="start"
            >Wrong email format</mat-error
          >
          <mat-error *ngIf="email.errors?.emailTaken" align="start">Email is taken</mat-error>
          <mat-hint *ngIf="email.status === 'PENDING'" align="start">Checking...</mat-hint>
          <mat-hint *ngIf="email.status === 'VALID'" align="start">Email is available!</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="password" matInput placeholder="Password" type="password" />
          <mat-error *ngIf="password.errors?.required && password.touched" align="start"
            >Enter you password</mat-error
          >
          <mat-error *ngIf="password.errors?.minlength && password.touched" align="start"
            >Min length is 5</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input formControlName="name" matInput placeholder="Name" type="text" />
          <mat-error *ngIf="name.errors?.required && name.touched" align="start"
            >Enter you name</mat-error
          >
          <mat-error *ngIf="name.errors?.pattern && name.touched" align="start"
            >Only letters</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input formControlName="surname" matInput placeholder="Surname" type="text" />
          <mat-error *ngIf="surname.errors?.required && surname.touched" align="start"
            >Enter you surname</mat-error
          >
          <mat-error *ngIf="surname.errors?.pattern && surname.touched" align="start"
            >Only letters</mat-error
          >
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          mat-raised-button
          [disabled]="signupForm.invalid || signupForm.status === 'PENDING'"
        >
          Signup
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
