.editMeal {
  font-size: 1.4rem;
  min-width: 50rem;
  width: 100vw;
  max-width: 60rem;

  ::ng-deep {
    &.mat-form-field {
      margin-bottom: 1.5rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  &__desc {
    min-height: 10rem;
  }
}
