<mat-toolbar class="header" color="primary">
  <div class="header__mobile">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="header__menu-list">
    <a
      class="header__menu-list-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
      >Meals</a
    >
    <a class="header__menu-list-item" routerLinkActive="active" routerLink="/new-meal">New meal</a>
  </div>
  <div class="header__logout">
    <a mat-list-item (click)="logout()" routerLink="/login">
      <mat-icon>logout</mat-icon><span></span>
    </a>
  </div>
</mat-toolbar>
