<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxHide.xs>
    <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Meals</a>
    <span> | </span>
    <a routerLinkActive="active" routerLink="/new-meal">New meal</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li routerLinkActive="active">
        <a mat-list-item (click)="logout()" routerLink="/login">
          <mat-icon>logout</mat-icon><span class="nav-caption"></span>
          
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
