.header {
  &__nav-list {
    display: flex;
    justify-content: end;
    width: 100%;
    list-style: none;
  }

  &__nav-list-link {
    color: #fff;
    text-decoration: none;
    padding-left: 2rem;
  }
}