@import 'main.scss';

a {
  text-decoration: none;
  color: white;
}

a:hover, a:active, .active{
  color: rgb(245, 161, 33);
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 0 5%;
  background: $darkBlueColor;

  &__mobile {
    @media only screen and (min-width: 600px) {
      display: none;
    }
  }

  &__menu-list {
    font-size: 2rem;
    @media only screen and (max-width: 599px) {
      display: none;
    }
  }

  &__menu-list-item {
    padding-right: 3rem;
  }

  &__logout {
    display: flex;
    justify-content: end;
    @media only screen and (max-width: 599px) {
      display: none;
    }
  }
}
