@import 'main.scss';

::ng-deep {
  &.mat-card {
    min-width: 25rem;
  }

  &.mat-card-header {
    justify-content: center;
  }

  &.mat-form-field {
    margin-bottom: 1.5rem;
  }
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../../../assets/images/auth-bg-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  &__login {
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__login-button {
    width: 100%;
  }

  &__spinner {
    display: block;
    margin: 0 auto 1rem auto;
  }
}

.errorStatus {
  @include formMessage($redColor)
}

.successStatus {
  @include formMessage($greenColor)
}
