@import 'main.scss';

.meal {
  max-width: 40rem;
  overflow: hidden;

  ::ng-deep {
    &.mat-card-header {
      justify-content: center;
    }
  }

  &__author,
  &__time {
    margin: 0;
    text-align: center;
    font-style: italic;
    font-size: 1.4rem;
    opacity: 0.5;
  }

  &__desc {
    padding: 0 2rem;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }

  &__action {
    margin-left: 1rem;
    cursor: pointer;
  }
}
