@import 'main.scss';

.details {
  @include backgroundImage();
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;

  ::ng-deep {
    &.mat-card-header {
      justify-content: center;
    }

    &.mat-card-title {
      font-size: 4rem;
    }
  }

  &__card {
    max-width: 50rem;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__author,
  &__time {
    margin: 0;
    text-align: center;
    font-style: italic;
    font-size: 1.4rem;
    opacity: 0.5;
  }

  &__action {
    margin-left: 1.5rem;
    cursor: pointer;
  }
}
