<div class="details" *ngIf="meal">
  <mat-card class="details__card">
    <mat-card-header>
      <mat-card-title>{{ meal.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="serverUrl + meal.image" alt="Meal image" />

    <p class="details__author">{{ meal.author.name }} {{ meal.author.surname }}</p>

    <app-form-separator></app-form-separator>

    <p class="details__time">Time of preparation: {{ meal.timeOfPreparation }} min</p>

    <app-form-separator></app-form-separator>

    <mat-card-content>
      <p class="meal__desc">
        {{ meal.desc }}
      </p>
    </mat-card-content>

    <mat-card-actions class="details__actions">
      <button mat-raised-button color="primary" (click)="backToList()">Back to list</button>
      <div *ngIf="isAuthor">
        <mat-icon class="details__action" (click)="openDialog()">edit</mat-icon>
        <mat-icon class="details__action" (click)="removeMeal(meal._id)">delete</mat-icon>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
