// Breakpoints created based on Flex-layout
@mixin xl {
  @media only screen and (min-width: 1920px) {
    @content;
  }
}

@mixin lg {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}

@mixin md {
  @media only screen and (min-width: 960px) {
    @content;
  }
}

@mixin sm {
  @media only screen and (min-width: 600px) {
    @content;
  }
}

@mixin xs {
  @media only screen and (max-width: 599px) {
    @content;
  }
}

@mixin formMessage($color) {
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 1rem;
  color: #ffffff;
  background-color: $color;
  border-radius: 5px;
  text-align: center;
}

