<div class="newMeal">
  <mat-card class="newMeal__card">
    <mat-card-header>
      <mat-card-title style="margin-bottom: 0">Add new post</mat-card-title>
    </mat-card-header>

    <app-form-separator></app-form-separator>

    <mat-card-content>
      <p
        *ngIf="status"
        [ngClass]="{ newMeal__errorStatus: isError, newMeal__successStatus: !isError }"
      >
        {{ status }}
      </p>

      <app-form-separator *ngIf="status"></app-form-separator>

      <form class="newMeal__form" [formGroup]="newMealForm" (ngSubmit)="onSubmit()">
        <span class="newMeal__image-name">{{
          selectedFile ? (selectedFile.name | titlecase) : 'No file choosen'
        }}</span>
        <button type="button" color="primary" mat-raised-button (click)="fileInput.click()">
          Choose File
        </button>
        <input
          hidden
          formControlName="image"
          (change)="onFileSelect($event)"
          #fileInput
          type="file"
        />

        <mat-form-field>
          <input matInput formControlName="name" type="text" placeholder="Name" />
          <mat-error
            *ngIf="timeOfPreparation.errors?.required && timeOfPreparation.touched"
            align="start"
            >Enter name of meal</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="desc" type="text" placeholder="Description" />
          <mat-error
            *ngIf="timeOfPreparation.errors?.required && timeOfPreparation.touched"
            align="start"
            >Enter description</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            formControlName="timeOfPreparation"
            type="text"
            placeholder="Time of preparation (minutes)"
          />
          <mat-error
            *ngIf="timeOfPreparation.errors?.required && timeOfPreparation.touched"
            align="start"
            >Enter time of preparation</mat-error
          >
          <mat-error
            *ngIf="timeOfPreparation.errors?.pattern && timeOfPreparation.touched"
            align="start"
            >Only numbers</mat-error
          >
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="newMealForm.invalid">
          Submit form
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
