@import 'main.scss';

.newMeal {
  @include backgroundImage();
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 5%;

  ::ng-deep {
    &.mat-card-header {
      justify-content: center;
    }
  }

  &__card {
    width: 100%;
    max-width: 40rem;
    height: 100%;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  &__image-name {
    text-align: center;
  }

  &__errorStatus {
    @include formMessage($redColor);
  }

  &__successStatus {
    @include formMessage($greenColor);
  }
}
