<app-spinner *ngIf="isSpinnerOn"></app-spinner>
<div class="login">
  <mat-card>
    <!-- Navigate to login page -->
    <button mat-flat-button color="primary" class="login__signup-navigation" routerLink="/signup">
      Signup
    </button>

    <!-- Separate section -->
    <app-form-separator></app-form-separator>

    <!-- Form header -->
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <!-- Form content -->
    <mat-card-content>
      <div class="login__error-status" *ngIf="loginErrorMessage">{{ loginErrorMessage }}</div>
      <form class="login__form" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email" type="text" />

          <mat-error *ngIf="email.errors?.required && email.touched" align="start"
            >Enter you email</mat-error
          >
          <mat-error *ngIf="email.errors?.pattern && email.touched" align="start"
            >Wrong email format</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input formControlName="password" matInput placeholder="Password" type="password" />
          <mat-error *ngIf="password.errors?.required && password.touched" align="start"
            >Enter you password</mat-error
          >
          <mat-error *ngIf="password.errors?.minlength && password.touched" align="start"
            >Password is to short</mat-error
          >
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
